section{
    background-color: #eee;
    margin-bottom: 10px;
}

p{  
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

div .hello .card{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content:space-around;
    
}

div .online-course h1.heading{
    text-align: center;
    font-size: 1.5rem;
    font-style: bold;
}

h1 {
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    div .hello .card{
        flex-direction: column;
        
    }
}