i{
    margin-left: 5px;
}

div .wrap{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content:space-around;
}

div .icon{
  margin-left: 20px;
}

div .footer a{
  margin-left:20px;
  display: block;
  padding:.5rem 0;
  font-size: 1.5rem;
  color:var(--light-color);
}